.mainSectionInternal
    #mainTitleLarge Review my memories
    #mainDescriptionWindow See an aggregation of my past work.

- if @drafts.nil?
    .askQuestion
        .askQuestionInternal
            .formBar.suggestQuestion Suggest a topic
            %input.registerInput.long{:type=>"text",:name=>"title",:required=>"required", :placeholder=>"Topic. i.e my first kiss"}
            %input.registerInput.short{:type=>"text",:name=>"title",:required=>"required", :placeholder=>"My name"}
            %button.midPageButton.suggest{:type=>"submit"} Suggest
#thumblog
    - if @posts.nil? || @posts.length == 0
        No posts written yet...
    - else
        - @posts.each do |post|
            = render "post", :post => post
    - if !(@drafts.nil? || @drafts.length == 0)
        .reviewmainSectionInternal.col_separator
            .post_title
                Your Drafts- these are not yet published
        - @drafts.each do |draft|
            =render "post_draft", :draft => draft

%script
    displayPartial({tag: ".post_body", maxlength: 300 });
    $('#tumblelog').masonry({itemSelector:"reviewmainSectionInternal",columnWidth: 240});