#holder.backgroundMemory
    #body
        .topLeftSection
            .logo.logoInternal
                %span.regularColor.small my
                %span.boldColor.small memories
            %a.friend{:href=>"./logout"}
                .text Log out
            .divider
            .friend
                .text Review my memories
            .friend
                .text Share

        .pageCurlSection
            .text Relive a new memory

        #thumblog
            .reviewmainSectionInternal.col2
                #mainTitleLarge My first Kiss
                #mainEditorWindow{:contentEditable=>"true"} Your thoughts... my memories were pretty cool. I discovered them a long time ago, and it was pretty nice to think that this was the history of everything. It seemed as thought it was the time to eat, play, drink and think, and no one could say anything. I really liked how the grass met the 
            .reviewmainSectionInternal.col2
                #mainTitleLarge My first Kiss
                #mainEditorWindow{:contentEditable=>"true"} Your thoughts... my memories were pretty cool. I discovered them a long time ago, and it was pretty nice to think that this was the history of everything. It seemed as thought it was the time to eat, play, drink and think, and no one could say anything. I really liked how the grass met the 
            .reviewmainSectionInternal.col1
                #mainTitleLarge My first Kiss
                #mainEditorWindow{:contentEditable=>"true"} Your thoughts... my memories were pretty cool. I discovered them a long time ago, and it was pretty nice to think that this was the history of everything. It seemed as thought it was the time to eat, play, drink and think, and no one could say anything. I really liked how the grass met the 
            .reviewmainSectionInternal.col1
                #mainTitleLarge My first Kiss
                #mainEditorWindow{:contentEditable=>"true"} Your thoughts... my memories were pretty cool. I discovered them a long time ago, and it was pretty nice to think that this was the history of everything. It seemed as thought it was the time to eat, play, drink and think, and no one could say anything. I really liked how the grass met the 
            .reviewmainSectionInternal.col1
                #mainTitleLarge My first Kiss
                #mainEditorWindow{:contentEditable=>"true"} Your thoughts... my memories were pretty cool. I discovered them a long time ago, and it was pretty nice to think that this was the history of everything. It seemed as thought it was the time to eat, play, drink and think, and no one could say anything. I really liked how the grass met the 
            .reviewmainSectionInternal.col1
                #mainTitleLarge My first Kiss
                #mainEditorWindow{:contentEditable=>"true"} Your thoughts... my memories were pretty cool. I discovered them a long time ago, and it was pretty nice to think that this was the history of everything. It seemed as thought it was the time to eat, play, drink and think, and no one could say anything. I really liked how the grass met the                                                     
    #footerReview
        %a.grayColor{:href=>"./about"}
            About mymemories

%script
    $('#tumblelog').masonry({itemSelector:"reviewmainSectionInternal",columnWidth: 240});