#holder.backgroundMemory
    #body
        .topLeftSection
            .logo.logoInternal
                %span.regularColor.small my
                %span.boldColor.small memories
            %img{:src=>"#{@current_user.avatar}",:style=>"width:46px;height:46px;float:left"}
            %a.friend{:href=>"./logout"}
                .text Log out

            .divider
            %a.friend{:href=>"./review"}
                .text Review my memories
            .friend
                .text Share
            .divider
            .savedMemo
                .text Memory saved
        .pageCurlSection
            %a.curl{:href=>"memory"} Relive a new memory

        .mainSectionInternal
            #mainTitleLarge
                = @question[:title]
            #mainEditorWindow{:contentEditable=>"true"}
                = @question[:question]
            #mainTitleLarge
                - @blogs.each do |b|
                    %h2 Blog:
                    #{b.inspect}

    #footer
        %a.grayColor{:href=>"./about"}
            About mymemories

%script
    writePage();
