<!DOCTYPE html>
<html>
    
    <body class="backgroundMemory">
        <div class="topLeftSection">
            <div class="logo logoInternal">
                <span class="regularColor small">my</span>
                <span class="boldColor small">memories</span>
            </div>
                <div class="friend"><div class="text">Log out</div></div>
                <div class="friend"><div class="text">Share with loved ones</div></div>
                <div class="friend"><div class="text">Review my memories</div></div>
        </div>
        <div class="pageCurlSection">
            <div class="text">Relive a new memory</div>
        </div>
        <div class="mainSectionInternal">
            <div id="mainTitleLarge"><%= @question[:title] %></div>
            
            <div id="mainEditorWindow" contentEditable="true"><%= @question[:question] %> </div>
        </div>
        <div class="socialSection">
            <div class="grayColor">Memo saved</div>
        </div>

        <script>
            writePage();
        </script>
    </body>
</html>