#holder.backgroundMemory
    #body
        .topLeftSection
            .logo.logoInternal
                %span.regularColor.small my
                %span.boldColor.small memories
            .savedMemo
                .text Memory saved
            .friend
                .text Log out
            .friend
                .text Share
            .friend
                .text Review my memories
        .pageCurlSection
            .text Relive a new memory

        .mainSectionInternal
            #mainTitleLarge My first kiss
            #mainEditorWindow{:contentEditable=>"true"} our thoughts... my memories were pretty cool. I discovered them a long time ago, and it was pretty nice to think that this was the history of everything. It seemed as thought it was the time to eat, play, drink and think, and no one could say anything. I really liked how the grass met the 
    #footer
        .grayColor
            About mymemories

%script
    writePage();
