#holder.backgroundMemory
    #body
        .topLeftSection
            .logo.logoInternal
                %span.regularColor.small my
                %span.boldColor.small memories
            .savedMemo
                .text Memory saved
            .friend
                .text Log out
            .friend
                .text Share
            .friend
                .text Review my memories
        .pageCurlSection
            .text Relive a new memory

        .mainSectionInternal
            #mainTitleLarge 
                = @question[:title]
            #mainEditorWindow{:contentEditable=>"true"}
                = @question[:question]
    #footer
        %a.grayColor{:href=>"./about"}
            About mymemories

%script
    writePage();
