<!DOCTYPE html>
<html>
    
    <body class="backgroundMemory">
        <div class="topLeftSection">
            <div class="logo logoInternal">
                <span class="regularColor small">my</span>
                <span class="boldColor small">memories</span>
            </div>
                <div class="friend"><div class="text">Log out</div></div>
                <div class="friend"><div class="text">Share with loved ones</div></div>
                <div class="friend"><div class="text">Review my memories</div></div>
        </div>
        <div class="pageCurlSection">
            <div class="text">Relive a new memory</div>
        </div>
        <div class="mainSectionInternal">
            <div id="mainTitleLarge">My first Kiss</div>
            <div id="mainEditorWindow" contentEditable="true">Your thoughts... my memories were pretty cool. I discovered them a long time ago, and it was pretty nice to think that this was the history of everything. It seemed as thought it was the time to eat, play, drink and think, and no one could say anything. I really liked how the grass met the </div>
        </div>
        <div class="socialSection">
            <div class="grayColor">Memo saved</div>
        </div>

        <script>
            writePage();
        </script>
    </body>
</html>