#holder.backgroundMemory
    #body
        .topLeftSection
            .logo.logoInternal
                %span.regularColor.small bio
                %span.boldColor.small blr
            %img{:src=>"#{@current_user.avatar}",:style=>"width:46px;height:46px;float:left"}
            %a.friend{:href=>"./logout"}
                .text Log out
            .divider
            %a.friend{:href=>"./review"}
                .text Review my memories
            %a.friend.selected{:href=>"./share"}
                .text Share my memories
        .pageCurlSection
            %a.curl{:href=>"memory"} Relive a new memory

        .mainSectionInternal
            #mainTitleLarge Share my memories
            #mainDescriptionWindow Show my writings to friends and family. Ask them to suggest new topics to write about.

        .askQuestion
            .askQuestionInternal
                .formBar.sharePerson 1.&nbsp;&nbsp;&nbsp;turbahn@gmail.com  /  Itai Turbahn / 3 topics
                %button.midPageButton.revoke{:type=>"submit"} Revoke
                %button.midPageButton.revoke{:type=>"submit"} Remind

        .askQuestion
            .askQuestionInternal
                .formBar.shareNumber 2.
                %input.registerInput.long{:type=>"text",:name=>"title",:required=>"required", :placeholder=>"Email address"}
                %input.registerInput.short{:type=>"text",:name=>"title",:required=>"required", :placeholder=>"Name"}
                %button.midPageButton.share{:type=>"submit"} Share my memories

    #footer
        %a.grayColor{:href=>"./about"}
            About mymemories

