#holder.background
    #body
        .topLeftSection
            .logo
                %span.regularColor.small my
                %span.boldColor.small memories

        .mainSection
            #mainTitleLarge Motivate your friends and family to share their  memories and thoughts via tumblr.
            #mainDescriptionWindow{:contentEditable=>"true"} mymemories inspires you to write and share with your loved ones. When you start, you are presented with a topic to write about, and can switch between topics to find one that invokes your inner writer. You decide with whom to share your work, and those can see it as you progress.
            #registerButton.register
                .text Log in via tumblr

        .exampleLink Or look at an example

    #footer
        .grayColor
            About mymemories

%script
    mainPage();

