#holder.background
    #body
        .topLeftSection
            .logo
                %span.regularColor.small my
                %span.boldColor.small memories

        .mainSection
            #mainTitleLarge Get inspired to write your memories and thoughts on tumblr.
            #mainDescriptionWindow mymemories inspires you to write and share with your loved ones. In contrast to a regular blog, you are presented with a topic to write about, and can switch between topics to find one that invokes your inner writer. You can also ask your followers to suggest topics, and get their input on what they want to hear.
            #registerButton.register
                .text Log in via tumblr

            .example
                %a.exampleLink Or look at an example

    #footer
        %a.grayColor{:href=>"./about"}
            About mymemories

%script
    mainPage();

