
<html>
    
    <body class="background">
        <div class="topLeftSection">
            <div class="logo">
                <span class="regularColor small">my</span>
                <span class="boldColor small">memories</span>
            </div>
        </div>
        <div class="topRightSection">
            <div class="friend"><div class="text">Log in</div></div>
                <input class="loginInput" type="password" name="password" value="Password">
                <input class="loginInput" type="text" name="email" value="Email Address">
        </div>
        <div class="mainSection">
            <div id="mainTitleLarge">Relive your memories. <br>Share them with your loved ones.</div>
            <div id="mainDescriptionWindow">mymemories inspires you to write and share with your loved ones. <br>When you start, you are presented with a topic to write about, and can switch between topics to find one that invokes your inner writer. You decide with whom to share your work, and those can see it as you progress.</div>
            <div class="register">
                <div id="registerButton" class="text">Register (it's free)</div>
            </div>

            <div id ="register">
                <form id="registerform" >
                  <fieldset class="form">
                    <p>
                      <label>Email</label>
                      <input type="email" name="email" required="required" class="registerInput"/>
                    </p>
                    <p>
                      <label>Password</label>
                      <input type="password" name="password" required="required" class="registerInput"/>
                    </p>
                    <p>
                      <label>Re-type password</label>
                      <input type="password" name="verify" required="required" class="registerInput"/>
                    </p>
                    <p>
                      <label>First Name</label>
                      <input type="text" name="first name" pattern="[a-zA-Z ]" maxlength="30" required="required" class="registerInput"/>
                    </p>
                    <label>Last Name</label>
                      <input type="text" name="last name" pattern="[a-zA-Z ]" maxlength="30" required="required" class="registerInput"/>
                    </p>
                    <p>
                      <label>Date of Birth</label>
                      <input type="date" name="birth"/>
                    </p>
                    <p id="terms">
                      <label>I accept the terms</label>
                      <input type="checkbox" required="required" />
                    </p>
                    <button type="submit">Submit form</button>
                    <button type="reset">Reset</button>
                  </fieldset>
                </form>
            </div>

            <div class="exampleLink">Or look at an example</div>
        </div>
        <div class="socialSection">
            <div class="grayColor">About mymemories</div>
        </div>
        <script>
            mainPage();
        </script>
    </body>

</html>