
<html>
    
    <body class="background">
        <div class="topLeftSection">
            <div class="logo">
                <span class="regularColor small">my</span>
                <span class="boldColor small">memories</span>
            </div>
        </div>
        <div class="topRightSection">
            <div class="friend"><div class="text">Log in</div></div>
                <input class="registerInput" type="password" name="password" value="Password">
                <input class="registerInput" type="text" name="email" value="Email Address">
        </div>
        <div class="mainSection">
            <div id="mainTitleLarge">Relive your memories. <br>Share them with your loved ones.</div>
            <div id="mainDescriptionWindow">mymemories inspires you to write and share with your loved ones. <br>When you start, you are presented with a topic to write about, and can switch between topics to find one that invokes your inner writer. You decide with whom to share your work, and those can see it as you progress.</div>
            <div class="register">
                <div class="text">Register (it's free)</div>
            </div>

            <div class="exampleLink">Or look at an example</div>
        </div>
        <div class="socialSection">
            <div class="grayColor">About the site</div>
        </div>

    </body>

</html>