<!DOCTYPE html>
<html>
    
    <body class="backgroundMemory">
        <div id="holder">

            <div id="body">
                <div class="topLeftSection">
                    <div class="logo logoInternal">
                        <span class="regularColor small">my</span>
                        <span class="boldColor small">memories</span>
                    </div>
                    <div class="friend"><div class="text">Log out</div></div>
                    <div class="friend"><div class="text">Share with loved ones</div></div>
                    <div class="friend"><div class="text">Review my memories</div></div>
                </div>
                <div class="pageCurlSection">
                    <div class="text">Relive a new memory</div>
                </div>
                <div class="mainSectionInternalAbout">
                    <div id="mainTitleLarge">About mymemories</div>
                    <div id="mainEditorWindow">Your thoughts... my memories were pretty cool. I discovered them a long time ago, and it was pretty nice to think that this was the history of everything. It seemed as thought it was the time to eat, play, drink and think, and no one could say anything. I really liked how the grass met the </div>
                </div>
                <div class="mainSectionInternalAbout">
                    <div id="mainTitleLarge">Yoni Goldberg</div>
                    <div id="mainEditorWindow">Is a backend ninja </div>
                </div>
                <div class="mainSectionInternalAbout">
                    <div id="mainTitleLarge">Matan Zohar</div>
                    <div id="mainEditorWindow">Is a frontend ninja </div>
                </div>
                <div class="mainSectionInternalAbout">
                    <div id="mainTitleLarge">Itai Turbahn</div>
                    <div id="mainEditorWindow">Is a kong-fu panda </div>
                </div>
            </div>
            <div id="footer">
            <div class="grayColor">About mymemories</div>
            </div>
        </div>

        <script>
            writePage();
        </script>
    </body>
</html>