#holder.backgroundMemory
    #body
        .topLeftSection
            .logo.logoInternal
                %span.regularColor.small my
                %span.boldColor.small memories
            .savedMemo
                .text Memory saved
            .friend
                .text Log out
            .friend
                .text Share
            .friend
                .text Review my memories
        .pageCurlSection
            .text Relive a new memory

        .mainSectionInternalAbout
            #mainTitleLarge About mymemories
            #mainEditorWindow our thoughts... my memories were pretty cool. I discovered them a long time ago, and it was pretty nice to think that this was the history of everything. It seemed as thought it was the time to eat, play, drink and think, and no one could say anything. I really liked how the grass met the 

        .mainSectionInternalAbout
            #mainTitleLarge Yoni Goldberg
            #mainEditorWindow Is a back-end ninja

        .mainSectionInternalAbout
            #mainTitleLarge Matan Zohar
            #mainEditorWindow Is a front-end ninja

        .mainSectionInternalAbout
            #mainTitleLarge Itai Turbahn
            #mainEditorWindow Is somewhat of a kong-fu panda.

    #footer
        %a.grayColor{:href=>"./about"}
            About mymemories

%script
    writePage();
