body {
    margin:auto;
    text-align:center;
    margin:0px;
}

html,body{
    height: 100%
}

#holder {
    min-height: 100%;
    position:relative;
}

#body {
    padding-bottom: 80px;
}

#footer{
    bottom: 0;
    height: 80px;
    left: 0;
    position: absolute;
    right: 0;
    padding-bottom:20px;
    padding-top:20px;
    background-color:#0094d0;
    width:100%;
    clear: both;
    float:left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#footerReview{
    float:left;
    padding-bottom:20px;
    padding-top:20px;
    background-color:#0094d0;
    width:100%;
    clear: both;
    height:80px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}


.background {
    background: #fff url('background2.png') no-repeat right 86px;
}

.backgroundMemory {
    background: #fff url('pagecurl.png') no-repeat right top;
}

.topLeftSection {
    float:left;
    margin-left:20px;
    margin-top:20px;
}

.topRightSection {
    float:right;
    margin-right:20px;
    margin-top:20px;
}

.pageCurlSection {
    float:right;
    margin-right:0px;
    margin-top:0px;
    height:40px;
    width:140px;
    padding-right:60px;
    cursor:pointer;
}

a.curl {
    float:left;
    font-family:'Arial', serif;
    font-size:10pt;
    color:#627378;
    text-decoration: none;
    padding:10px;
    margin-top: 10px;
}

a.curl:hover {
    color:#0094d0; 
}

.logo {
    border:2px solid #0094d0;
    background:#0094d0;
    float:left;
    margin-bottom: 84px;
    height:42px;
}

.logoInternal {
    margin-bottom:5px;
}

.small {
 
}

.regularColor {
font-family: 'Norican', cursive;
    color:#fff;
    float:left;
    font-size:15pt;
    padding-left:14px;
    padding-top:6px;
    padding-bottom:5px;
    padding-right:3px;
}
.boldColor {
    font-family:'PT Serif', serif;
    color:#fff;
    float:left;
    padding-right:14px;
    padding-top:8px;
    padding-bottom:5px;
   font-size:13pt;
}

.subTitle {
    font-family:'Arial', serif;
    font-size:8pt;
    color:#999;
    clear:both;
    float:left;
}

.subTitleLarge {
    font-family:'PT Serif', serif;
    font-size:14pt;
    color:#999;
    clear:both;
    float:left;
}

.grayColor {
    font-family:'Arial', serif;
    color:#fff;
    font-size:9pt;
    float:left;
    margin-top:16px;
    margin-left:20px;
    margin-bottom:10px;
    text-decoration: none;
}

.grayColor:hover {
    text-decoration: underline;
}

.mainSection {
    width:600px;
    padding:60px;
    padding-top:40px;
    margin:auto;
    clear:both;
    margin-bottom:20px;
    background:rgba(255,255,255,0.9);
}

.mainSectionInternal {
    width:800px;
    padding-top:20px;
    margin:auto;
    clear:both;
    margin-bottom:40px;
}

.mainSectionInternalAbout {
    border-bottom:1px solid #ddd;
    width:600px;
    padding-top:20px;
    margin:auto;
    clear:both;
    margin-bottom:40px;
}

#mainQuestion {
    font-family:'PT Serif', serif;
    color:#000;
    font-size:18pt;
    margin-bottom:25px;
}

#mainTitleLarge {
    font-family:'PT Serif', serif;
    color:#000;
    font-size:24pt;
    margin-bottom:25px;
    line-height:140%;
}

.formBar {
    font-family:'PT Serif', serif;
    color:#000;
    font-size:14pt;
    line-height:140%;
    float:left;
    margin-top: 14px;
    margin-right: 10px;
    margin-left:10px;
    text-align: left;
    &.suggestQuestion {
        width:140px;
    }

    &.shareNumber {
        width:20px;
    }

    &.sharePerson {

    }

}

#mainDescriptionWindow {
    font-family:'PT Serif', serif;
    color:#333;
    font-size:14pt;
    text-align: center;
    line-height:190%;
}

.exampleLink {
    font-family:'PT Serif', serif;
    text-decoration:underline;
    font-style:italic;
    color:#333;
    font-size:12pt;
    text-align: center;
    line-height:190%;
    cursor:pointer;
}

.exampleLink:hover {
    color:#0094d0;
}

.example {
    margin-top: 20px;
}

#mainEditorWindow {
    float:left;
    width:600px;
    font-family:'PT Serif', serif;
    color:#333;
    font-size:14pt;
    outline:0px solid transparent;
    text-align:left;
    min-height:200px;
    line-height:180%;
    margin-bottom:80px;
}

.date {
    margin-left: 20px;
    float:left;
    font-family:'PT Serif', serif;
    color:#333;
    font-size:14pt;
    border:none;
    outline:0px solid transparent;
    text-align:left;
    clear: both;
    margin-bottom: 10px;
}

.socialSection {
    padding-bottom:20px;
    padding-top:20px;
    background-color:#0094d0;
    width:100%;
    clear: both;
    float:left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}

.savedMemo {
    float:left;
    background:#fff;
    font-family:'Arial', serif;
    font-size:10pt;
    color:#87A644;
    overflow: hidden;
    min-width:42px;
    height:42px;
    margin-left:5px;
    border:2px solid #87A644;
}

.left {
    float:left;
}

.divider {
    float:left;
    height:46px;
    margin-left: 5px;
    width:1px;
    background: #ddd;
}

.friend {
    float:left;
    background:#fff;
    font-family:'Arial', serif;
    font-size:10pt;
    color:#627378;
    overflow: hidden;
    min-width:42px;
    height:42px;
    margin-left:5px;
    border:2px solid #dbdbdb;
    cursor:pointer;
    text-decoration: none;
}

.sideArea {
    float:right;
    border-left: 1px solid #ddd;
    height:200px;
    width:150px;
}

.askQuestion {
    clear:both;
    margin: auto;
    width: 960px;
    padding-top: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.askQuestionInternal {
    background:#f0f6f8;
    float:left;
    width: 100%;
    padding:10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    &:hover {
        background:#DEF6F8;
    }
}

.midPageButton {
    background:#0094d0;
    font-family:'Arial', serif;
    font-size:14pt;
    color:#fff;
    overflow: hidden;
    height:52px;
    border:2px solid #0094d0;
    cursor:pointer; 
    margin-top:1px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    &.share {
        padding-right: 20px;
        padding-left: 20px;
        width:260px;
        float:left;
    }

    &.revoke {
        padding-right: 20px;
        padding-left: 20px;
        margin-left:10px;
        width:125px;
        float:right;

    }

    &.login {
        margin-top: 40px;
    }

    &.suggest {
        padding-right: 20px;
        padding-left: 20px;
        width:140px;
        float:left;
    }

}

.login {
    margin-top: 40px;
}

.left {
    float:left;
}

.form {
    background:#f0f6f8;
    margin:0px;
    margin-bottom:20px;
    text-align: center;
    border:none;
    font-family:'PT Serif', serif;
    font-size:12pt;
    padding:20px;
}

.registerInput {
    font-family:'PT Serif', serif;
    color:#000;
    font-size:12pt;
    padding:13px;
    padding-bottom:12px;
    margin-right: 10px;
    float:left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.long {
    width:400px;
}

.short {
    width:220px;
}

.loginInput {
    float:right;
    font-family:'PT Serif', serif;
    color:#000;
    font-size:10pt;
    padding:13px;
    padding-bottom:12px;
    margin-top:0px;
    margin-left:10px;
    margin-bottom:10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width:180px;
}

.register:hover {
    background:#00afe6;
    border-color: #00afe6;
    color:#fff;
}

.friend:hover {
    background:#fff;
    border-color:#0094d0;
    color:#0094d0;
}

.selected {
    background:#fff;
    border-color:#0094d0;
    color:#0094d0;
}

.text {
    padding-top:13px;
    padding-right:20px;
    padding-left:20px;
}

.reviewmainSectionInternal {
    float: left;
    margin: 10px;
    margin-top:0px;
    padding-top:20px;
    border-top:2px solid #ddd;
}

.col1 {
    width: 220px;
}

.col2 {
    width: 460px;
}

.col3 {
    width: 700px;
}

#thumblog {
    width: 960px;
    margin: auto;
    padding-top: 40px;
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
    clear: both;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}

.picture {
    width:42px;
    border:0px solid #fff;
    height:46px;
    width:46px;
}

img {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

