body {
    margin:auto;
    text-align:center;
    margin:0px;
}

.background {
    background: #fff url('background2.png') no-repeat right 86px;
}

.backgroundMemory {
    background: #fff url('pagecurl.png') no-repeat right top;
}

.topLeftSection {
    float:left;
    margin-left:20px;
    margin-top:20px;
}

.topRightSection {
    float:right;
    margin-right:20px;
    margin-top:20px;
}

.pageCurlSection {
    float:right;
    margin-right:0px;
    margin-top:0px;
    height:40px;
    font-family:'Arial', serif;
    font-size:12pt;
    color:#627378;
    padding:10px;
    width:140px;
    padding-right:60px;
    cursor:pointer;
}

.pageCurlSection:hover {
    color:#0094d0;
}

.logo {
    border:2px solid #0094d0;
    background:#0094d0;
    float:left;
    margin-bottom: 84px;
    height:42px;
}

.logoInternal {
    margin-bottom:5px;
}

.small {
    font-size:12pt;
}

.regularColor {
    font-family:'PT Serif', serif;
    color:#fff;
    float:left;
    padding-left:10px;
    padding-top:9px;
    padding-bottom:5px;
}
.boldColor {
    font-family:'PT Serif', serif;
    color:#fff;
    font-style: italic;
    float:left;
    padding-right:10px;
    padding-top:9px;
    padding-bottom:5px;
}

.subTitle {
    font-family:'Arial', serif;
    font-size:8pt;
    color:#999;
    clear:both;
    float:left;
}

.subTitleLarge {
    font-family:'PT Serif', serif;
    font-size:14pt;
    color:#999;
    clear:both;
    float:left;
}

.grayColor {
    font-family:'Arial', serif;
    color:#fff;
    font-size:9pt;
    float:left;
    margin-top:16px;
    margin-left:20px;
    margin-bottom:10px;
}
.mainSection {
    width:600px;
    padding:60px;
    padding-top:40px;
    margin:auto;
    clear:both;
    margin-bottom:160px;
    background:rgba(255,255,255,0.9);
}

.mainSectionInternal {
    width:600px;
    padding-top:20px;
    margin:auto;
    clear:both;
    margin-bottom:40px;
}

#mainQuestion {
    font-family:'PT Serif', serif;
    color:#000;
    font-size:18pt;
    margin-bottom:25px;
}

#mainTitleLarge {
    font-family:'PT Serif', serif;
    color:#000;
    font-size:24pt;
    margin-bottom:25px;
    line-height:140%;
}

#mainDescriptionWindow {
    font-family:'PT Serif', serif;
    color:#333;
    font-size:14pt;
    text-align: center;
    line-height:190%;
}

.exampleLink {
    font-family:'PT Serif', serif;
    text-decoration:underline;
    font-style:italic;
    color:#333;
    font-size:12pt;
    text-align: center;
    line-height:190%;
    cursor:pointer;
    margin-top:20px;
}

#mainEditorWindow {
    font-family:'PT Serif', serif;
    color:#333;
    font-size:14pt;
    outline:0px solid transparent;
    text-align:left;
    min-height:200px;
    line-height:180%;
    margin-bottom:40px;
}
.socialSection {
    padding-bottom:20px;
    padding-top:20px;
    background-color:#0094d0;
    width:100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}
.friend {
    float:right;
    background:#fff;
    font-family:'Arial', serif;
    font-size:10pt;
    color:#627378;
    overflow: hidden;
    min-width:42px;
    height:42px;
    margin-left:5px;
    border:2px solid #dbdbdb;
    cursor:pointer;
}

.register {
    background:#0094d0;
    font-family:'Arial', serif;
    font-size:14pt;
    color:#fff;
    overflow: hidden;
    height:52px;
    border:2px solid #0094d0;
    cursor:pointer; 
    margin-top:30px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.form {
    background:#f0f6f8;
    margin:0px;
    margin-bottom:20px;
    text-align: center;
    border:none;
    font-family:'PT Serif', serif;
    font-size:12pt;
    padding:20px;
}

.registerInput {
    font-family:'PT Serif', serif;
    color:#000;
    font-size:12pt;
    padding:13px;
    padding-bottom:12px;
    margin-bottom:20px;
    width:100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.loginInput {
    float:right;
    font-family:'PT Serif', serif;
    color:#000;
    font-size:10pt;
    padding:13px;
    padding-bottom:12px;
    margin-top:0px;
    margin-left:10px;
    margin-bottom:10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width:180px;
}

.register:hover {
    background:#00afe6;
    border-color: #00afe6;
    color:#fff;
}

.friend:hover {
    background:#fff;
    border-color:#0094d0;
    color:#0094d0;
}

.selected {
    background:#fff;
    border-color:#0094d0;
    color:#0094d0;
}

.text {
    padding-top:13px;
    padding-right:20px;
    padding-left:20px;
}

.reviewmainSectionInternal {
    float: left;
    margin: 10px;
    border-top:3px solid #74bcd1;
}

.col1 {
    width: 220px;
}

.col2 {
    width: 460px;
}

.col3 {
    width: 700px;
}

#thumblog {
    width: 960px;
    margin: auto;
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
    clear: both;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}

.submitForm {
    padding-right: 20px;
    padding-left: 20px;
}

.picture {
    width:42px;
    border:0px solid #fff;
    height:46px;
    width:46px;
}

img {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}