@import "bootstrap";

body {
    margin:auto;
    text-align:center;
    margin:0px;
}

html,body{
    height: 100%
}

#holder {
    min-height: 100%;
    position:relative;
}

#body {
    padding-bottom: 80px;
}

#footer{
    bottom: 0;
    height: 80px;
    left: 0;
    /*position: absolute;*/
    right: 0;
    padding-bottom:20px;
    padding-top:20px;
    background-color:#0094d0;
    width:100%;
    clear: both;
    float:left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#footerReview{
    float:left;
    padding-bottom:20px;
    padding-top:20px;
    background-color:#0094d0;
    width:100%;
    clear: both;
    height:80px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}


.background {
    background: #fff url('background2.png') no-repeat right 86px;
}

.backgroundMemory {
    background: #fff url('pagecurl.png') no-repeat right top;
}

.topLeftSection {
    float:left;
    margin-left:20px;
    margin-top:20px;
}

.topRightSection {
    float:right;
    margin-right:20px;
    margin-top:20px;
}

.pageCurlSection {
    float:right;
    margin-right:0px;
    margin-top:0px;
    height:40px;
    width:140px;
    padding-right:60px;
    cursor:pointer;
}

a.curl {
    float:left;
    font-family:'Arial', serif;
    font-size:10pt;
    color:#627378;
    text-decoration: none;
    padding:10px;
    margin-top: 10px;
}

a.curl:hover {
    color:#0094d0; 
}

.logo {
    border:2px solid #0094d0;
    background:#0094d0;
    float:left;
    margin-bottom: 84px;
    height:42px;
}

.logoInternal {
    margin-bottom:5px;
}

.small {
 
}

.regularColor {
font-family: 'Norican', cursive;
    color:#fff;
    float:left;
    font-size:15pt;
    padding-left:14px;
    padding-top:6px;
    padding-bottom:5px;
    padding-right:3px;
}
.boldColor {
    font-family:'PT Serif', serif;
    color:#fff;
    float:left;
    padding-right:14px;
    padding-top:8px;
    padding-bottom:5px;
   font-size:13pt;
}

.subTitle {
    font-family:'Arial', serif;
    font-size:8pt;
    color:#999;
    clear:both;
    float:left;
}

.subTitleLarge {
    font-family:'PT Serif', serif;
    font-size:14pt;
    color:#999;
    clear:both;
    float:left;
}

.grayColor {
    font-family:'Arial', serif;
    color:#fff;
    font-size:9pt;
    float:left;
    margin-top:16px;
    margin-left:20px;
    margin-bottom:10px;
    text-decoration: none;
}

.grayColor:hover {
    text-decoration: underline;
}

.mainSection {
    width:600px;
    padding:60px;
    padding-top:40px;
    margin:auto;
    clear:both;
    margin-bottom:20px;
    background:rgba(255,255,255,0.9);
}

.mainSectionInternal {
    width:800px;
    padding-top:20px;
    margin:auto;
    clear:both;
    margin-bottom:40px;
}

.mainSectionInternalAbout {
    border-bottom:1px solid #ddd;
    width:600px;
    padding-top:20px;
    margin:auto;
    clear:both;
    margin-bottom:40px;
}

#mainQuestion {
    font-family:'PT Serif', serif;
    color:#000;
    font-size:18pt;
    margin-bottom:25px;
}

#mainTitleLarge {
    font-family:'PT Serif', serif;
    color:#000;
    font-size:24pt;
    margin-bottom:25px;
    line-height:140%;
}

.formBar {
    font-family:'PT Serif', serif;
    color:#000;
    font-size:14pt;
    line-height:140%;
    float:left;
    margin-top: 14px;
    margin-right: 10px;
    margin-left:10px;
    text-align: left;
    &.suggestQuestion {
        width:140px;
    }

    &.shareNumber {
        width:20px;
    }

    &.sharePerson {

    }

}

#mainDescriptionWindow {
    font-family:'PT Serif', serif;
    color:#333;
    font-size:14pt;
    text-align: center;
    line-height:190%;
}

.exampleLink {
    font-family:'PT Serif', serif;
    text-decoration:underline;
    font-style:italic;
    color:#333;
    font-size:12pt;
    text-align: center;
    line-height:190%;
    cursor:pointer;
}

.exampleLink:hover {
    color:#0094d0;
}

.example {
    margin-top: 20px;
}

#mainEditorWindow {
    float:left;
    width:600px;
    font-family:'PT Serif', serif;
    color:#333;
    font-size:14pt;
    outline:0px solid transparent;
    text-align:left;
    min-height:200px;
    line-height:180%;
    margin-bottom:80px;
}

.date {
    margin-left: 20px;
    float:left;
    font-family:'PT Serif', serif;
    color:#333;
    font-size:14pt;
    border:none;
    outline:0px solid transparent;
    text-align:left;
    clear: both;
    margin-bottom: 10px;
}

.socialSection {
    padding-bottom:20px;
    padding-top:20px;
    background-color:#0094d0;
    width:100%;
    clear: both;
    float:left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}

.savedMemo {
    float:left;
    background:#fff;
    font-family:'Arial', serif;
    font-size:10pt;
    color:#87A644;
    overflow: hidden;
    min-width:42px;
    height:42px;
    margin-left:5px;
    border:2px solid #87A644;
}

.unsavedMemo { 
    float:left;
    background:#fff;
    font-family:'Arial', serif;
    font-size:10pt;
    color:red;
    overflow: hidden;
    min-width:42px;
    height:42px;
    margin-left:5px;
    border:2px solid red;
    display: none;
}

.left {
    float:left;
}

.divider {
    float:left;
    height:46px;
    margin-left: 5px;
    width:1px;
    background: #ddd;
}

.friend {
    float:left;
    background:#fff;
    font-family:'Arial', serif;
    font-size:10pt;
    color:#627378;
    overflow: hidden;
    min-width:42px;
    height:42px;
    margin-left:5px;
    border:2px solid #dbdbdb;
    cursor:pointer;
    text-decoration: none;
}

.sideArea {
    float:right;
    border-left: 1px solid #ddd;
    height:200px;
    width:150px;
}

.askQuestion {
    clear:both;
    margin: auto;
    width: 960px;
    padding-top: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.askQuestionInternal {
    background:#f0f6f8;
    float:left;
    width: 100%;
    padding:10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    &:hover {
        background:#DEF6F8;
    }
}

.midPageButton {
    background:#0094d0;
    font-family:'Arial', serif;
    font-size:14pt;
    color:#fff;
    overflow: hidden;
    height:52px;
    border:2px solid #0094d0;
    cursor:pointer; 
    margin-top:1px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    &.share {
        padding-right: 20px;
        padding-left: 20px;
        width:260px;
        float:left;
    }

    &.revoke {
        padding-right: 20px;
        padding-left: 20px;
        margin-left:10px;
        width:125px;
        float:right;

    }

    &.login {
        margin-top: 40px;
    }

    &.suggest {
        padding-right: 20px;
        padding-left: 20px;
        width:140px;
        float:left;
    }

}

.login {
    margin-top: 40px;
}

.left {
    float:left;
}

.form {
    background:#f0f6f8;
    margin:0px;
    margin-bottom:20px;
    text-align: center;
    border:none;
    font-family:'PT Serif', serif;
    font-size:12pt;
    padding:20px;
}

.registerInput {
    font-family:'PT Serif', serif;
    color:#000;
    font-size:12pt;
    padding:13px;
    padding-bottom:12px;
    margin-right: 10px;
    float:left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.long {
    width:400px;
}

.short {
    width:220px;
}

.loginInput {
    float:right;
    font-family:'PT Serif', serif;
    color:#000;
    font-size:10pt;
    padding:13px;
    padding-bottom:12px;
    margin-top:0px;
    margin-left:10px;
    margin-bottom:10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width:180px;
}

.register:hover {
    background:#00afe6;
    border-color: #00afe6;
    color:#fff;
}

.friend:hover {
    background:#fff;
    border-color:#0094d0;
    color:#0094d0;
}

.selected {
    background:#fff;
    border-color:#0094d0;
    color:#0094d0;
}

.text {
    padding-top:13px;
    padding-right:20px;
    padding-left:20px;
}

.reviewmainSectionInternal {
    float: left;
    margin: 10px;
    margin-top:0px;
    border-top:2px solid #ddd;
}

.post_title{
    font-family:'PT Serif', serif;
    color:#000;
    font-size:20pt;
    margin-bottom:10px;
    line-height:140%;
}

.post_body{
    font-family:'PT Serif', serif;
    color:#333;
    font-size:13pt;
    text-align: left;
    line-height:150%;
}

.post_date{
    font-family:'PT Serif', serif;
    color:#666;
    font-size: 10pt;
}

.post_tags{
    margin-top: 10px;
    margin-bottom: 10px;

    font-family:'PT Serif', serif;
    color:#666;
    font-size: 12pt;
}

.post_settings{
    position: absolute;
    text-align: left;
    top: 0px;
    right: 0px
}

.col1 {
    width: 220px;
}

.col2 {
    width: 460px;
}

.col3 {
    width: 700px;
}

.col_separator {
    width: 900px;
}

#thumblog {
    width: 1000px;
    margin: auto;
    padding-top: 40px;
    clear: both;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}

.picture {
    width:42px;
    border:0px solid #fff;
    height:46px;
    width:46px;
}

img {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

/* tokenizer css */
div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; width:300px; height:100px; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:13px;}
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 11px;  } 
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}

/* tagit css */
ul.tagit {
    padding: 1px 5px;
    overflow: auto;
    margin-left: inherit; /* usually we don't want the regular ul margins. */
    margin-right: inherit;
    background: #fff
}
ul.tagit li {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
ul.tagit li.tagit-choice {    
    position: relative;
    line-height: inherit;
}

ul.tagit li.tagit-choice-read-only { 
    padding: .2em .5em .2em .5em; 
} 

ul.tagit li.tagit-choice-editable { 
    padding: .2em 18px .2em .5em; 
    background: #a5d24a;
} 

ul.tagit li.tagit-new {
    padding: .25em 4px .25em 0;
}

ul.tagit li.tagit-choice a.tagit-label {
    cursor: pointer;
    text-decoration: none;
}
ul.tagit li.tagit-choice .tagit-close {
    cursor: pointer;
    position: absolute;
    right: .1em;
    top: 50%;
    margin-top: -8px;
    line-height: 17px;
}

/* used for some custom themes that don't need image icons */
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: none;
}

ul.tagit li.tagit-choice input {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
ul.tagit input[type="text"] {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    border: none;
    margin: 0;
    padding: 0;
    width: inherit;
    background-color: inherit;
    outline: none;
}